<!DOCTYPE html>
<html lang="{{ page.lang | default: "fi" }}">
  <head>
    <meta charset="UTF-8">
    {% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link href="/feed.xml" type="application/atom+xml" rel="alternate" title="Sivuston verkkosyöte">

    {% if page.math %}{% include mathjax %}{% endif %}
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
    </section>

    <section class="main-content">
      {{ content }}
    </section>

    <section class="site-footer">
      <p>Tekijänoikeus kirjoittajilla. Käytämme sivuilla evästeitä: <a href="/tietosuoja.html">tietosuojalauseke</a>.</p>
    </section>
    

    {% if site.google_analytics %}
    <script type="text/javascript">
     (function(e,t,n,i,s,a,c){e[n]=e[n]||function(){(e[n].q=e[n].q||[]).push(arguments)}
       ;a=t.createElement(i);c=t.getElementsByTagName(i)[0];a.async=true;a.src=s
       ;c.parentNode.insertBefore(a,c)
     })(window,document,"galite","script","https://cdn.jsdelivr.net/npm/ga-lite@2/dist/ga-lite.min.js");
     galite('create','{{ site.google_analytics }}','auto');galite('set','anonymizeIp',!0);galite('send','pageview');
     window.addEventListener('unload',function(){galite('send','timing','JS Dependencies','unload')});
    </script>
    {% endif %}
  </body>
</html>
